html, body {
    height: 100%; /* Garante que o corpo ocupe toda a altura da tela */
    margin: 0; /* Remove as margens padrões */
}

body {
    background-image: url('images/fundo.jpg');

}

* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #333;
    color: rgb(63, 216, 24);
    text-align: center;
    padding: 1em 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(34, 184, 230);
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 2em;
    background-color: #39414b7a;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

section h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

section p {
    font-size: 1.6em;
    line-height: 1.6;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

img {
    width: 100%;          /* Faz com que a largura das imagens seja 100% do seu contêiner */
    height: auto;         /* Ajusta a altura automaticamente para manter a proporção */
    max-width: 600px;     /* Limita o tamanho máximo das imagens para 600px de largura */
    max-height: 400px;    /* Limita o tamanho máximo das imagens para 400px de altura */
    object-fit: cover;    /* Faz com que a imagem preencha o espaço sem distorcer, cortando-a se necessário */
    border-radius: 8px;   /* Arredonda as bordas da imagem (opcional) */
    margin-top: 20px;     /* Espaçamento superior (opcional) */
}

/* Cor dos Textos*/

p {
    color: rgb(63, 216, 24); /* Altera a cor do texto para verde */
  }

  h2 {
    color: rgb(34, 184, 230);
}

/* SEÇÃO LETTERBOXD */


#film-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Se ajusta automaticamente */
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    justify-content: center;
}

.film-card {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.film-card:hover {
    transform: scale(1.05);
}

.film-poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.film-card a {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    color: #ac1616;
    text-decoration: none;
}

.film-card p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #000000;
}


body {
    transition: background-color 0.3s ease;
}
.section {
    height: 100vh;
}

